@keyframes pisca {
    0%,
    100% {
        opacity: 0.2;
        }
    50% {
        opacity: 1;
        }
}

@keyframes flicker {
    0% {
    opacity: 0.27861;
    }
    5% {
    opacity: 0.34769;
    }
    10% {
    opacity: 0.23604;
    }
    15% {
    opacity: 0.90626;
    }
    20% {
    opacity: 0.18128;
    }
    25% {
    opacity: 0.83891;
    }
    30% {
    opacity: 0.65583;
    }
    35% {
    opacity: 0.67807;
    }
    40% {
    opacity: 0.26559;
    }
    45% {
    opacity: 0.84693;
    }
    50% {
    opacity: 0.96019;
    }
    55% {
    opacity: 0.08594;
    }
    60% {
    opacity: 0.20313;
    }
    65% {
    opacity: 0.71988;
    }
    70% {
    opacity: 0.53455;
    }
    75% {
    opacity: 0.37288;
    }
    80% {
    opacity: 0.71428;
    }
    85% {
    opacity: 0.70419;
    }
    90% {
    opacity: 0.7003;
    }
    95% {
    opacity: 0.36108;
    }
    100% {
    opacity: 0.24387;
    }
  }

  @keyframes textShadow {
    0% {
      text-shadow: 0.4389924193300864px 0 1px rgba(255,255,255,1.0), -0.4389924193300864px 0 1px rgba(0,0,0,0.3), 0 0 3px;
    }
    5% {
      text-shadow: 2.7928974010788217px 0 1px rgba(255,255,255,1.0), -2.7928974010788217px 0 1px rgba(0,0,0,0.3), 0 0 3px;
    }
    10% {
      text-shadow: 0.02956275843481219px 0 1px rgba(255,255,255,1.0), -0.02956275843481219px 0 1px rgba(0,0,0,0.3), 0 0 3px;
    }
    15% {
      text-shadow: 0.40218538552878136px 0 1px rgba(255,255,255,1.0), -0.40218538552878136px 0 1px rgba(0,0,0,0.3), 0 0 3px;
    }
    20% {
      text-shadow: 3.4794037899852017px 0 1px rgba(255,255,255,1.0), -3.4794037899852017px 0 1px rgba(0,0,0,0.3), 0 0 3px;
    }
    25% {
      text-shadow: 1.6125630401149584px 0 1px rgba(255,255,255,1.0), -1.6125630401149584px 0 1px rgba(0,0,0,0.3), 0 0 3px;
    }
    30% {
      text-shadow: 0.7015590085143956px 0 1px rgba(255,255,255,1.0), -0.7015590085143956px 0 1px rgba(0,0,0,0.3), 0 0 3px;
    }
    35% {
      text-shadow: 3.896914047650351px 0 1px rgba(255,255,255,1.0), -3.896914047650351px 0 1px rgba(0,0,0,0.3), 0 0 3px;
    }
    40% {
      text-shadow: 3.870905614848819px 0 1px rgba(255,255,255,1.0), -3.870905614848819px 0 1px rgba(0,0,0,0.3), 0 0 3px;
    }
    45% {
      text-shadow: 2.231056963361899px 0 1px rgba(255,255,255,1.0), -2.231056963361899px 0 1px rgba(0,0,0,0.3), 0 0 3px;
    }
    50% {
      text-shadow: 0.08084290417898504px 0 1px rgba(255,255,255,1.0), -0.08084290417898504px 0 1px rgba(0,0,0,0.3), 0 0 3px;
    }
    55% {
      text-shadow: 2.3758461067427543px 0 1px rgba(255,255,255,1.0), -2.3758461067427543px 0 1px rgba(0,0,0,0.3), 0 0 3px;
    }
    60% {
      text-shadow: 2.202193051050636px 0 1px rgba(255,255,255,1.0), -2.202193051050636px 0 1px rgba(0,0,0,0.3), 0 0 3px;
    }
    65% {
      text-shadow: 2.8638780614874975px 0 1px rgba(255,255,255,1.0), -2.8638780614874975px 0 1px rgba(0,0,0,0.3), 0 0 3px;
    }
    70% {
      text-shadow: 0.48874025155497314px 0 1px rgba(255,255,255,1.0), -0.48874025155497314px 0 1px rgba(0,0,0,0.3), 0 0 3px;
    }
    75% {
      text-shadow: 1.8948491305757957px 0 1px rgba(255,255,255,1.0), -1.8948491305757957px 0 1px rgba(0,0,0,0.3), 0 0 3px;
    }
    80% {
      text-shadow: 0.0833037308038857px 0 1px rgba(255,255,255,1.0), -0.0833037308038857px 0 1px rgba(0,0,0,0.3), 0 0 3px;
    }
    85% {
      text-shadow: 0.09769827255241735px 0 1px rgba(255,255,255,1.0), -0.09769827255241735px 0 1px rgba(0,0,0,0.3), 0 0 3px;
    }
    90% {
      text-shadow: 3.443339761481782px 0 1px rgba(255,255,255,1.0), -3.443339761481782px 0 1px rgba(0,0,0,0.3), 0 0 3px;
    }
    95% {
      text-shadow: 2.1841838852799786px 0 1px rgba(255,255,255,1.0), -2.1841838852799786px 0 1px rgba(0,0,0,0.3), 0 0 3px;
    }
    100% {
      text-shadow: 2.6208764473832513px 0 1px rgba(255,255,255,1.0), -2.6208764473832513px 0 1px rgba(0,0,0,0.3), 0 0 3px;
    }
  }

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
    height: 100vh;
    width: 100vw;
}

.urna {
    background-color: rgba(255, 255, 255, 0.12);
    box-shadow: 10px -10px 2px rgba(63, 63, 63, 0.8);
    padding: 30px;
    display: flex;
    border-radius: 25px;
}

.tela {
    width: 500px;
    height: 320px;
    background: linear-gradient(45deg, #f2f2f2, #e0e0e0);
    border: 2px solid #999999;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.5);
    animation: textShadow 3.6s infinite;
}

.tela::after {
    z-index: 2;
    content: '';
    position: absolute;
    width: 500px;
    height: 320px;
    animation: textShadow 0.5s infinite;
}

.teclado {
    background-color: #e0e0e0;
    margin-left: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px -2px 0px 10px rgba(0, 0, 0, 0.1);
}

.teclado--linha {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.teclado--botao {
    width: 70px;
    height: 40px;
    background-color: #999999;
    color: #ffffff;

    box-shadow: 2px -2px 0px 1px rgba(0, 0, 0, 0.2);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.botao--branco {
    background-color: #ffffff;
    box-shadow: 2px -2px 0px 1px rgba(0, 0, 0, 0.2);
    color: #000000;
    font-size: 15px;
}

.botao--corrige,
.botao--confirma {
    font-size: 15px;
    width: 90px;
    height: 50px;
    border-radius: 5px;
}

.botao--corrige {
    background-color: rgb(234, 141, 12);
    box-shadow: 2px -2px 0px 1px rgba(234, 141, 12, 0.7);
}

.botao--confirma {
    background-color: rgb(92, 184, 92);
    box-shadow: 2px -2px 0px 1px rgba(92, 184, 92, 0.8);
}

.tela {
    padding: 8px;
}

.info-voto-titulo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 5px;
}

.info-voto-numeros {
    display: flex;
    flex-direction: row;
}

.numero {
    display: inline-block;
    width: 30px;
    height: 40px;
    border: 1px solid #999999;
    border-radius: 8px;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    background-color: #ffffff;
    margin: 5px;
}

.pisca {
    animation: pisca 1s infinite;
}

.info-imagem {
    border: 1px solid #999999;
    background-color: #ffffff;
    text-align: center;
    font-size: 14px;
    padding: 30px;
    width: 30%;
    height: auto;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
    display: none;
}

.info-imagem img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
}

.aviso--grande,
.aviso--gigante {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aviso--grande {
    font-size: 40px;
    color: #d9534f;
}

.aviso--gigante {
    font-size: 70px;
    color: #d9534f;
}

.container-voto {
    display: flex; 
    justify-content: space-between;
    margin: 20px; 
}

.instrucoes {
    text-align: center;
    font-size: 20px;
}

.info-voto {
    margin: 20px;
}

.small {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: nowrap;
  text-align: center;
  max-width: 50px;
}

.candidato-main-image {
  min-width: 100px;
  max-width: 200px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
